/* About us banner section styles */
.about-page{
  margin-bottom: -30px;
}
.about-banner {
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 58px;
  margin-bottom: 30px;
}

.hero-content h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .about-banner {
    height: 350px;
  }

  .hero-content h1 {
    font-size: 28px;
  }

  .hero-content h2 {
    font-size: 22px;
  }

  .hero-content p {
    font-size: 14px;
  }
}


.about-heading{
    display: none; /*To hide first on large screens*/
    text-align: center;
    padding: 20px 10px;
    color: #00504B;
    font-size: 1.1rem;
}

/* About content section styles */
.about-content {
  padding: 60px 20px;
  background-color: #f8f9fa;
}
.about-details-container{
  padding: 100px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0 200px;
}


.about-col-1 {
  flex: 1 1 45%;
}

.about-col-1 img {
  width: 90%;
  border-radius: 10px;
  height: 600px;
  object-fit: cover;
}

.about-col-2 {
  flex: 1 1 50%;
}

.sub-title {
  font-size: 50px;
  color: #00504B;
  font-weight: 600;
}
.sub-title2 {
  display: none;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
  flex-wrap: wrap;
  font-weight: 400;
  p{
    border-left: #c2c9c8 3px solid;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 50%;
  }
}

.tab-links {
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  color: #000;
}

.tab-links::after {
  content: '';
  width: 0px;
  height: 3px;
  background-color: #00504B;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 70%;
}

.tab-contents {
  display: none;
    p{
        font-size: 18px;
        line-height: 1.6;
        color: #000;
    }
    ul {
        list-style-type: square;
        padding-left: 20px;
        margin-top: 10px;
        color: #00504B;
    }
}
.tab-contents.active-tab {
  display: block;
}
.more-contact a{
  text-decoration: none !important;        
  border: 2px solid #00504B;    
  padding: 5px 12px;            
  border-radius: 6px;           
  color: #00504B;             
  font-weight: 500;
  font-size: 14px;
  transition: all 0.4s ease;   
  display: inline-block;   
  margin-top: 20px;    
   &:hover {
    background-color: #00504B;   
    color: #fff;                
   }
}





/* Responsive */
@media (max-width: 1024px) {
  .row {
    padding: 0 50px;
  }

  .about-col-1 img {
    height: 400px;
    width: 100%;
  }
}
@media (max-width: 920px) {
    .sub-title2 {
    display: block;
    font-size: 35px;
    color: #00504B;
    font-weight: 600;
    margin: 80px 0 20px;
    text-align: center;
  }
}
@media (max-width: 768px) {
.about-heading{
    display: block; /*To show on large screens*/
    text-align: center;
    padding: 20px 10px;
    color: #00504B;
    font-size: 1.1rem;
}
 .row {
    flex-direction: column;
    padding: 0 20px;
  }
  .about-col-1,
  .about-col-2 {
    flex: 1 1 100%;
  }
  .about-col-1 img {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
  }
  .sub-title {
    display: none;
  }
  .sub-title2 {
    display: block;
    font-size: 35px;
    color: #00504B;
    font-weight: 600;
    margin: 30px 0 20px;

    text-align: center;
  }
  .tab-titles {
    display: flex;
    flex-direction: row;
    margin: 20px 0 40px;
    flex-wrap: wrap;
    font-size:12px;
  }
}

@media (max-width: 400px) {
  .about-col-2 {
    font-size: 14px;
  }
}


/*Testimonials  */
.testimonials-section {
  text-align: center;
  padding: 50px 20px;
  background: #f9f9f9;
  font-size: 22px;
  h2{
    font-size: 32px;
  }
  h2::before{
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #00504B;
    margin: 0 auto 20px;
  }
}

.carousel-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}

.testimonial-card {
  min-width: 100%;
  transition: transform 0.5s ease;
  opacity: 0;
  position: absolute;
}

.testimonial-card.active {
  opacity: 1;
  position: relative;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 20px;
  color: #333;
}

.testimonial-user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.testimonial-user img {
  width: 100px;
  height: 100px;
  border-radius: 10%;
}

.carousel-buttons {
  margin-top: 20px;
}

.carousel-buttons button {
  background: #00504B;
  color: white;
  border: none;
  padding: 15px 20px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-buttons button:hover {
  background: #003c38;
}


/* ABOUT - RECOMMENDED HOTELS */
/* Recommended hotel section */
.popular-rooms {
  padding: 0 0 4rem 0;
}

.popular-rooms h4 {
  font-size: 1.2rem;
  margin: 3.5rem 0;
}

.popular-rooms hr {
  width: 7%;
  height: 4px;
  background-color: #00504B !important;
  margin-top: 10px !important;
  border: none;
}

.popular-rooms .container {
  width: 90%;
  margin: auto;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.product-card {
  display: flex;
  gap: 10px;
  background: #fff;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.thumbnail {
  flex: 0 0 120px;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.room-info h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #003c38;
  margin-bottom: 0.3rem;
}

.room-info p {
  line-height: 1.4;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.room-info a {
  text-decoration: none;
  color: #003c38;
  font-weight: 500;
  transition: color 0.3s ease;
  text-decoration: underline;
  text-underline-offset: 4px;
  &:hover {
    color: #00504B;
  }
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .product-card {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .thumbnail {
    flex: unset;
    width: 100%;
    max-width: 200px;
  }
}



/* Gallery section styling */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
}

.gallery-item img {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover;
}

/* Tablet view */
@media (max-width: 1024px) {
  .image-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobile view */
@media (max-width: 768px) {
  .image-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

